* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fefefe;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

.header {
  background-color: #ffe4c4;
  padding: 0;
}

.top-bar {
  background-color: #ffe4c4;
  padding: 10px;
}

.top-bar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  position: relative;
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo-img {
  width: 200px;
  margin: 0 auto;
}

.top-bar-search-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
  flex: 1;
  padding-left: 50px;
  margin-bottom: 10px;  
}

.search-bar input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.search-bar button {
  background-color: #e6c088;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-bar-text {
  text-align: center;
}

.cart {
  position: relative;
  margin-left: 30px;
  margin-bottom: -50px;
  margin-top: -150px;
  right: 20px;
}

.cart img {
  width: 30px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #432c09;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 8px;
}

.promo-bar {
  background-color: #fff2c6;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  background-color: #ffe4c4;
  border: 1px solid #d4a373;
  border-radius: 8px;
  position: absolute;
  top: 70px;
  left: 40px;
  right: 0;
  margin: 0;
  width: 90%;
  max-width: 300px;
  z-index: 1000;
}

.menu.active {
    display: flex;
}

.menu-item {
  color: #432c09;
  cursor: pointer;
}

.menu-item.c.open > .c {
  color: #ff9800;
  font-weight: bold;
}

.menu-item.g.open > .g {
  color: #795548;
  font-weight: bold;
}

.menu-item.pa.open > .pa {
  color: #4caf50;
  font-weight: bold;
}

.menu-item.pe.open > .pe {
  color: #2196f3;
  font-weight: bold;
}

.menu-item.o.open > .o {
  color: #009688;
  font-weight: bold;
}

.menu-item.link:hover > span,
.menu-item.link:hover > span a{
  font-weight: bold;
  border-bottom: 2px solid;
}

.submenu {
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.service-item {
  background-color: #ffe7b2;
  padding: 12px 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-weight: bold;
  transition: background 0.3s;
}

.service-item:hover {
  background-color: #ffdfa0;
}

.carousel {
  margin: 20px auto;
  padding: 0 20px;
}

.carrossel-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrossel .slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide {
  min-width: 100%;
  transition: opacity 0.5s ease;
  height: auto;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 90px;
  color: rgba(0, 0, 0, 0.233);
  font-size: 2rem;
  cursor: pointer;
  padding: 5px 10px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.benefits {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  align-items: center;
}

.benefit-card {
  background-color: #e5f7f0;
  padding: 12px 20px;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.footer {
  background-color: bisque;
  margin: auto;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.footer-section {
  flex: 1 1 200px;
  margin: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.icon-row, 
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.payment-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.payment-grid img,
.icon-row img,
.social img {
  width: 40px;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}


@media (min-width: 768px) {
  .top-bar-search-cart {
    margin-bottom: 20px;
  }

 .footer {
    justify-content: space-between;
    padding: 30px;  
  }

  .footer-section {
  flex: 1 1 150px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

  .footer-section h3 {
    text-align: center;
    width: 100%;
    margin: 20px;
  }

  .footer-selos,
  .footer-social {
    margin-top: 30px;
   }

  .footer-pagamento {
    justify-items: center;
  }
}

@media (max-width: 1024px) {
  .search-bar {
    display: flex;
    flex: 1;
    padding-left: 50px;
    margin-bottom: 10px;
    margin-top: -50px;
  }

  .cart {
    margin-left: 30px;
    margin-bottom: -50px;
    margin-top: -150px;
    right: 20px;
  }
}


@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .logo-img {
    height: 180px;  
    width: 170px;
    margin-right: 10px;
    margin-top: -20px;
  }

  .search-bar {
    border: 1px solid #ccc;
    border-radius: 25px;
    overflow: hidden;
    height: 35px;
    background-color: #fff;
    margin-left: 350px;
    margin-top: -210px;
    display: flex;
    flex: 1;
    max-width: 800px;
  }

  .search-bar input {
    flex: 1;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 16px;
  }

  .search-barr input[type="text"] {
    border: none;
    padding: 0 300px;
    outline: none;
    font-size: 16px;
  }

 .search-bar button {
  background-color: #e6c088;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 18px;
  height: 100%;
  }

  .cart {
    margin-right: 300px;
    margin-top: -270px; 
  }

  .cart img {
    width: 40px;
    cursor: pointer;
  }

  .cart-count {
    position: absolute;
    top: -12px;
    right: -5px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 7px;
    border-radius: 100%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 45px;
    justify-content: center;
    border: none;
    background: transparent;
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin-top: 100px;
  }

  .menu-item {
    position: relative;
    cursor: pointer;
  }

  .submenu {
    position: absolute;
    background: white;
    padding: 10px 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 99;
    list-style: none;
  }

   .menu-item .submenu {
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .menu-item.show .submenu {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menuc:hover {
    color: #ff9800;
    font-weight: bold;
  }

  .submenuc li:hover {
    background-color: #e9be7e;
    color: #432c09;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .menug:hover {
    color: #795548;
    font-weight: bold;
  }

  .submenug li:hover {
    background-color: #c29079;
    color: #432c09;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .menupa:hover {
    color: #4caf50;
    font-weight: bold;
  }

  .submenupa li:hover {
    background-color: #8cce91;
    color: #432c09;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .menupe:hover {
    color: #2196f3;
    font-weight: bold;
  }

  .submenupe li:hover {
    background-color: #7bb2df;
    color: #432c09;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .menuo:hover {
    color: #009688;
    font-weight: bold;
  }

  .submenuo li:hover {
    background-color: #68b3ac;
    color: #432c09;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }

  .promo-bar {
    background-color: #fff3cd;
    color: #664d03;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
  }

  .services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 25px 10px;
    margin: 20px 40px;
  }

  .service-item,
  .benefit-card {
    background-color: #fff;
    border: 1.5px solid #e6c088;
    color: #5d4a1a;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
  }

  .service-item {
    padding: 15px 25px;
    cursor: pointer;
  }

  .service-item:hover {
    background-color: #e6c088;
    color: white;
    box-shadow: 0 5px 15px rgba(230, 192, 136, 0.6);
    transform: translateY(-4px);
  }

  .benefits {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 25px 10px;
    margin: 20px 40px;
    flex-direction: row;
  }

  .benefit-card {
    padding: 20px 30px;
    text-align: center;
    cursor: default;
  }

  .carrossel-container {
    position: relative;
    width: 43%;
    margin: auto;
  }

  .slide {
    min-width: 100%;
    display: none;
  }

  .slide.active {
    display: block;
  }

  .slide img {
    height: 400px;
    margin: auto;
    display: block;
    border-radius: 16px;
  }

  .nav {
    position: absolute;
    top: 45%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .nav.prev {
    left: 5px;
    padding: 20px;
    background-color: rgba(255, 228, 196, 0.834);
  }

  .nav.next {
    right: 5px;
    padding: 20px;
    background-color: rgba(255, 228, 196, 0.834);
  }
}
