@charset "UTF-8"; /*Para o uso de caracteres*/

* { /*Margens e preenchimentos dos navegadores*/
  margin: 0; /*Margem*/
  padding: 0; /*Preenchimento*/
  box-sizing: border-box; /*Para incluir margin e padding no tamanho total do elemento*/
} 

header { /*Cabeçalho*/
  background-color: bisque; /*Cor de fundo*/
}

.navb { /*Barra de navegação*/
  padding: 5px; /*Espaçamento interno*/
  padding-left: 300px; /*Localização*/
  border-bottom: 1px solid #ddd; /*Linha no final da barra*/
}    

.logo-container { /*Container logo*/
  display: flex; /*Organização da logo junto aos elementos*/
  align-items: center; /*Alinhamento dos itens no centro*/
  padding-left: 40px; /*Localização dos itens*/
}

.logo { /*Logo*/
  height: 180px; /*Tamanho da imagem*/
  margin-right: 10px; /*Espaçamento à direita*/
}

.search-bar { /*Barra de busca*/
  border: 1px solid #ccc; /*Estilo da barra*/
  border-radius: 25px; /*Arredondamento das bordas*/
  overflow: hidden; /*Elementos permaneçam na barra*/
  height: 35px; /*Tamanho da barra (altura)*/
  background-color: #fff; /*Cor de fundo*/
  margin-left: 130px; /*Localização da barra à direita*/
}

.search-bar input[type="text"] { /*Texto da barra de busca*/
  border: none; /*Sem borda*/
  padding: 0 300px; /*Tamanho*/
  outline: none; /*Remove linha de foco que aparece ao clicar*/
  font-size: 16px; /*Tamanho da fonte*/
}

.search-bar button { /*Botão de pesquisa*/
  background-color: #e6c088; /*Cor de fundo*/
  border: none; /*Sem borda*/
  padding: 0 15px; /*Tamanho*/
  cursor: pointer; /*Formato do cursor*/
  height: 100%; /*Altura da barra*/
  font-size: 18px; /*Tamanho da fonte (no caso, do emoji)*/
}

.cart { /*Carrinho de compras*/
  position: relative; /*Posição de elementos filhos em relação à ele (contador)*/
  margin-left: 10px; /*Localização*/
}

.cart img { /*Imagem do carrinho de compras*/
  width: 30px; /*Tamanho da imagem*/
  cursor: pointer; /*Formato do cursor*/
}

.cart-count { /*Contador*/
  position: absolute; /*Posiciona o contador sobre a imagem do carrinho de compras*/
  top: -8px; /*Posição em relação ao topo*/
  right: -5px; /*Posição à direita*/
  background-color: #432c09; /*Cor de fundo do contador*/
  color: white; /*Cor da fonte do contador*/
  font-size: 12px; /*Tamanho da fonte do contador*/
  padding: 2px 6px; /*Tamanho do contador*/
  border-radius: 50%; /*Formato arredondado do contador*/
}

.menu { /*Formatação do menu*/
  display: flex; /*Alinhamento horizontal dos itens*/
  list-style: none; /*Remove marcadores de lista*/
  gap: 45px; /*Espaçamento entre os itens*/
  margin-top: -40px; /*Distância do menu para o topo*/
  margin-left: -60px; /*Distância dos itens para margem lateral*/ 
}

.menu-item { /*Relação dos submenus com o menu*/
  position: relative; /*Exibição dos submenus ao passar o mouse por cima*/
  cursor: pointer; /*Formato do cursor*/
}

.submenu { /*Formatação dos submenus*/
  position: absolute; /*Posicionamento de exibição (Fica sobre o menu e não mexe com o cabeçalho)*/
  background: white; /*Cor de fundo*/
  padding: 10px 20px; /*Espaçamento interno*/
  display: none; /*Remove sublinhado dos menus*/
  flex-direction: column; /*Formato de lista em coluna*/
  gap: 10px; /*Distância entre os itens*/
  z-index: 99; /*Garante que o submenu fique na frente de outros itens*/
  list-style: none; /*Remove marcadores de lista*/
}

.menu-item:hover .submenu { /*Animação dos submenus*/
  display: flex; /*Submenu aparece*/
}

.c:hover { /*Animação ao passar o mouse*/
  color: #ff9800; /*Cor da fonte*/
  font-weight: bold; /*Negrito*/
}

.submenuc li:hover { /*Formatação submenu*/
  background-color: #e9be7e; /*Cor de fundo dos itens do submenu*/
  color: #432c09; /*Cor da fonte*/
  border-radius: 5px; /*Arredondamento da caixa*/
  padding: 5px 10px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/
}

.g:hover { /*Animação ao passar o mouse*/
  color: #795548; /*Cor da fonte*/
  font-weight: bold; /*Negrito*/
}

.submenug li:hover{ /*Formatação submenu*/
  background-color: #c29079; /*Cor de fundo dos itens do submenu*/
  color: #432c09; /*Cor da fonte*/
  border-radius: 5px; /*Arredondamento da caixa*/
  padding: 5px 10px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/
}

.pa:hover { /*Animação ao passar o mouse*/
  color: #4caf50; /*Cor da fonte*/
  font-weight: bold; /*Negrito*/
}

.submenupa li:hover{ /*Formatação submenu*/
  background-color: #8cce91; /*Cor de fundo dos itens do submenu*/
  color: #432c09; /*Cor da fonte*/
  border-radius: 5px; /*Arredondamento da caixa*/
  padding: 5px 10px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/
}

.pe:hover { /*Animação ao passar o mouse*/
  color: #2196f3; /*Cor da fonte*/
  font-weight: bold; /*Negrito*/
}

.submenupe li:hover{ /*Formatação submenu*/
  background-color: #7bb2df; /*Cor de fundo dos itens do submenu*/
  color: #432c09; /*Cor da fonte*/
  border-radius: 5px; /*Arredondamento da caixa*/
  padding: 5px 10px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/
}

.o:hover { /*Animação ao passar o mouse*/
  color: #009688; /*Cor da fonte*/
  font-weight: bold; /*Negrito*/
}

.submenuo li:hover{ /*Formatação submenu*/
  background-color: #68b3ac; /*Cor de fundo dos itens do submenu*/
  color: #432c09; /*Cor da fonte*/
  border-radius: 5px; /*Arredondamento da caixa*/
  padding: 5px 10px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/
}

.promo:hover,
.blog:hover,
.club:hover,
.serv:hover { /*Itens do menu que não possuem submenus*/
  font-weight: bold; /*Negrito*/
  border-bottom: 2px solid; /*Sublinhado*/ 
}

.promoc { /*Formatação da barra de promoção*/
  background-color: #fff3cd; /*Cor de fundo*/
  color: #664d03; /*Cor da fonte*/
  padding: 8px; /*Tamanho da barra (largura)*/
  text-align: center; /*Alinhamento do texto dentro da barra*/
  font-weight: bold; /*Negrito*/
  font-family: sans-serif; /*Fonte sem serifa*/
  font-size: 15px; /*Tamanho da fonte*/
}

body { /*Corpo da página*/
  font-family: 'Segoe UI', sans-serif; /*Tipo de fonte*/
  background-color: #f9f9f9; /*Cor de fundo*/
  color: #333; /*Cor da fonte*/
}

.menu-item span { /*Ícones do menu*/
  margin-right: 3px; /*Distância dos ícones para o texto*/
}

.services { /*Área de serviços*/
  display: flex; /*Alinhamento horizontal dos itens*/
  justify-content: center; /*Alinhamento central dos itens*/
  gap: 100px; /*Espaçamento entre os itens*/
  padding: 25px 10px; /*Espaçamento vertical (topo e fim)*/
  margin: 20px 40px; /*Margem*/
}

.service-item,
.benefit-card {
  background-color: #fff; /*Cor de fundo*/
  border: 1.5px solid #e6c088; /*Cor do contorno da caixa*/
  color: #5d4a1a; /*Cor da fonte*/
  border-radius: 10px; /*Arredondamento da caixa*/
  font-weight: 600; /*Negrito*/
  transition: all 0.3s ease; /*Suaviza o efeito do hover*/
}

.service-item { /*Formatação dos serviços*/
  padding: 15px 25px; /*Tamanho da caixa*/
  cursor: pointer; /*Formato do cursor*/ 
}

.service-item:hover,
.benefit-card:hover { /*Animação ao passar o mouse*/
  background-color: #e6c088; /*Cor de fundo*/
  color: white; /*Cor da fonte*/
  box-shadow: 0 5px 15px rgba(230, 192, 136, 0.6); /*Sombra da caixa*/
  transform: translateY(-4px); /*Efeito 3D*/
}

.benefits { /*Área de benefícios*/
  display: flex; /*Alinhamento horizontal dos itens*/
  justify-content: center; /*Alinhamento central dos itens*/
  gap: 100px; /*Espaçamento entre os itens*/
  padding: 25px 10px; /*Espaçamento vertical (topo e fim)*/
  margin: 20px 40px; /*Margem*/
}

.benefit-card { /*Formatação dos benefícios*/
  padding: 20px 30px; /*Tamanho da caixa*/
  text-align: center; /*Alinhamento central do texto*/     
  cursor: default; /*Formato do cursor*/
}

.carrossel-container { /*Área do carrossel*/
  position: relative; /*Posicionamento entre os elementos do carrossel (setas e imagens)*/
  width: 43%; /*Setas ficam sobrepostas na imagem*/
  margin: auto; /*Posicionamento central relativo às margens*/
}

.slide { /*Imagens do slide*/
  min-width: 100%; /*Ocupa 100% do container*/
  display: none; /*As imagens são exibidas como slide*/
}

.slide.active { /*Classe JS*/
  display: block; /*Exibe as imagens*/
}

.slide img { /*Imagens do slide*/
  height: 400px; /*Altura*/
  margin: auto; /*Alinhamento entre as margens*/
  display: block; /*Imagens alinhadas*/
  border-radius: 16px; /*Arredondamento das imagens*/
}

.nav { /*Setas do slide*/
  position: absolute; /*Posicionamento das setas relativo às imagens*/
  top: 45%; /*Altura da posição*/
  border: none; /*Sem bordas*/
  border-radius: 50%; /*Arredondamento*/
  cursor: pointer; /*Formato do cursor*/
  font-size: 15px; /*Tamanho da fonte (setas estão em forma de fonte*/
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /*Sombra*/
}


.nav.prev { /*Seta da esquerda*/
  left: 5px; /*Posicionamento da seta*/
  padding: 15px; /*Tamanho*/
  background-color: rgba(255, 228, 196, 0.834); /*Cor de fundo*/
}

.nav.next { /*Seta da direita*/
  right: 5px; /*Posicionamento da seta*/
  padding: 15px; /*Tamanho*/
  background-color: rgba(255, 228, 196, 0.834); /*Cor de fundo*/
}

.no-link { /*Elementos que são links*/
  text-decoration: none; /*Remove sublinhado*/
  color: inherit; /*Remove formatação da cor*/
  cursor: pointer; /*Formato de cursor*/
}

.footer { /*Rodapé*/
  display: flex; /*Alinhamento de elementos*/
  justify-content: space-around; /*Posição dos itens*/
  align-items: center; /*Alinhamento centralizado dentro do rodapé*/
  padding: 30px; /*Espaçamento entre as margens*/
  background-color: #f5f5f5; /*Cor de fundo*/
  border-top: 2px solid #e6c088; /*Linha de divisão entre o footer e section*/
}

.footer-section h3 { /*Formatação do texto do footer*/
  font-size: 18px; /*Tamanho da fonte*/
  margin-bottom: 15px; /*Distância entre título e elementos*/
  color: #5d4a1a; /*Cor da fonte*/
}

.icon-row,
.payment-grid { /*Formatação dos elementos do footer*/
  display: flex; /*Distância entre os elementos*/
  gap: 10px; /*Espaçamento*/
}

.footer-pagamento .payment-grid { /*Formatação dos elementos do pagamento*/
  display: grid; /*Alinhamento vertical*/
  grid-template-columns: repeat(4, 1fr); /*Formato da grade*/
  justify-items: auto; /*Alinhamento centralizado */
  gap: 5px; /*Distância entre os elementos*/
}

.footer img { /*Formatação das imagens do footer*/
  width: 40px; /*Tamanho*/
}

.icon-row a img:hover { /*Animação ao passar o mouse*/
  transform: scale(1.1); /*Aumenta o tamanho quando passa o mouse*/
}

@media (max-width: 768px) {
  body {
    background-color: lightpink;
  }
}




